<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temlog.category.dao.CategoryDAO">
	<select id="existCategoryName" parameterType="string" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			`category`
		WHERE
			`categoryName` = #{categoryName}
	</select>
	
	<insert id="insertCategory" parameterType="string">
		INSERT INTO `category`
		(
			`categoryName`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{categoryName}
			, NOW()
			, NOW()
		)
	</insert>
	
	<update id="updateCategoryByCategoryId" parameterType="map">
		UPDATE `category`
		SET
			`categoryName` = #{categoryName}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{categoryId}
	</update>
	
	<delete id="deleteCategoryByCategoryId" parameterType="int">
		DELETE FROM
			`category`
		WHERE
			`id` = #{categoryId}
	</delete>
	
	<select id="selectCategoryList" resultType="com.temlog.category.model.Category">
		SELECT
			`id`
			, `categoryName`
			, `createdAt`
			, `updatedAt`
		FROM
			`category`
		ORDER BY `id` ASC
	</select>
	
	<select id="selectCategoryByCategoryId" parameterType="int" resultType="com.temlog.category.model.Category">
		SELECT
			`id`
			, `categoryName`
			, `createdAt`
			, `updatedAt`
		FROM
			`category`
		WHERE
			`id` = #{categoryId}
	</select>
	
	<select id="selectCategory" resultType="com.temlog.category.model.Category">
		SELECT
			`id`
			, `categoryName`
			, `createdAt`
			, `updatedAt`
		FROM
			`category`
	</select>
</mapper>