<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temlog.image.dao.ImageDAO">
	<insert id="insertImage" parameterType="map">
		INSERT INTO `image`
		(
			`postId`
			, `userId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{postId}
			, #{userId}
			, #{imagePath}
			, NOW()
			, NOW()
		)
	</insert>
	
	<update id="updateImage" parameterType="map">
		UPDATE `image`
		SET
		<!-- imagePath가 있을 때만 수정한다 -->
		<if test="imagePath != null">
			`imagePath` = #{imagePath}
		</if>
			, `updatedAt` = NOW()
		WHERE
			`id` = #{imageId}
	</update>
	
	<delete id="deleteImage" parameterType="int">
		DELETE FROM
			`image`
		WHERE
			`id` = #{postId}
	</delete>
	
	<select id="selectImageList" resultType="com.temlog.image.model.Image">
		SELECT
			`id`
			, `postId`
			, `userId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`image`
	</select>
	
	<select id="selectImage" resultType="com.temlog.image.model.Image">
		SELECT
			`id`
			, `postId`
			, `userId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`image`
	</select>

	<select id="selectImageByPostId" parameterType="int" resultType="com.temlog.image.model.Image">
		SELECT
			`id`
			, `postId`
			, `userId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`image`
		WHERE
			`postId` = #{postId}
	</select>
	
	<select id="selectImagePathListByPostId" parameterType="int" resultType="string">
		SELECT
			`imagePath`
		FROM
			`image`
		WHERE
			`postId` = #{postId}
	</select>
</mapper>