<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temlog.post.dao.PostDAO">
	<insert id="insertPost" parameterType="com.temlog.post.model.Post" 
	useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO `post`
		(
			`userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{categoryId}
			, #{subject}
			, #{content}
			, #{rating}
			, #{purchaseNumber}
			, #{purchaseDate}
			, #{location}
			, NOW()
			, NOW()
		)
	</insert>
	
	<update id="updatePost" parameterType="map">
		UPDATE `post`
		SET
			`userId` = #{userId}
			, `categoryId` = #{categoryId}
			, `subject` = #{subject}
			, `content` = #{content}
			, `rating` = #{rating}
			, `purchaseNumber` = #{purchaseNumber}
			, `purchaseDate` = #{purchaseDate}
			, `location` = #{location}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{postId}
	</update>
	
	<delete id="deletePost" parameterType="int">
		DELETE FROM
			`post`
		WHERE
			`id` = #{postId}
	</delete>
	
	<select id="selectPostByPostId" parameterType="map" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{postId}
			AND `userId` = #{userId}
	</select>
	
	<select id="selectPostByPostIdAndUserId" parameterType="map" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{postId}
			AND `userId` = #{userId}
	</select>
	
	<select id="selectPostList" parameterType="int" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
		ORDER BY `id` DESC
	</select>
	
	<select id="selectPost" parameterType="int" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectPostListByCategoryId" parameterType="map" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
			AND `categoryId` = #{categoryId} 
		ORDER BY `id` DESC
	</select>
	
	<select id="selectPostListByKeyword" parameterType="map" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
			AND (`subject` LIKE CONCAT('%',#{keyword},'%')
			OR `content` LIKE CONCAT('%',#{keyword},'%'))
		ORDER BY `id` DESC
	</select>
	
	<select id="selectPostListByCategoryIdAndKeyword" parameterType="map" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
			AND `categoryId` = #{categoryId}
			AND (`subject` LIKE CONCAT('%',#{keyword},'%')
			OR `content` LIKE CONCAT('%',#{keyword},'%'))
		ORDER BY `id` DESC
	</select>
	
	<select id="selectPostListByRating" parameterType="map" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
			AND `rating` = #{rating}
		ORDER BY `id` DESC
	</select>
	
	<select id="selectPostListByCategoryIdAndRating" parameterType="map" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
			AND `categoryId` = #{categoryId}
			AND `rating` = #{rating}
		ORDER BY `id` DESC
	</select>
	
	<select id="selectPostListByCreatedAt" parameterType="int" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
		ORDER BY `createdAt` DESC
	</select>
	
	<select id="selectPostListByPurchaseDate" parameterType="int" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
		ORDER BY `purchaseDate` DESC
	</select>
	
	<select id="selectPostListByPurchaseNumber" parameterType="int" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE 
			`userId` = #{userId}
		ORDER BY `purchaseNumber` DESC
	</select>
	
	<select id="selectPostListByCategoryIdAndCreatedAt" parameterType="map" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
			AND `categoryId` = #{categoryId}
		ORDER BY `createdAt` DESC
	</select>
	
	<select id="selectPostListByCategoryIdAndPurchaseDate" parameterType="map" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
			AND `categoryId` = #{categoryId}
		ORDER BY `purchaseDate` DESC
	</select>
	
	<select id="selectPostListByCategoryIdAndPurchaseNumber" parameterType="map" resultType="com.temlog.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `categoryId`
			, `subject`
			, `content`
			, `rating`
			, `purchaseNumber`
			, `purchaseDate`
			, `location`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
			AND `categoryId` = #{categoryId}
		ORDER BY `purchaseNumber` DESC
	</select>
</mapper>