<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temlog.schedule.dao.ScheduleDAO">
	<insert id="insertSchedule" parameterType="com.temlog.schedule.model.Schedule">
		INSERT INTO `schedule`
		(
			`userId`
			, `startDate`
			, `endDate`
			, `subject`
			, `content`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{startDate}
			, #{endDate}
			, #{subject}
			, #{content}
			, NOW()
			, NOW()
		)
	</insert>
	
	<delete id="deleteSchedule" parameterType="int">
		DELETE FROM
			`schedule`
		WHERE
			`id` = #{scheduleId}
	</delete>
	
	<update id="updateSchedule" parameterType="map">
		UPDATE `schedule`
		SET
			`startDate` = #{startDate}
			, `endDate` = #{endDate}
			, `subject` = #{subject}
			, `content` = #{content}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{scheduleId}
	</update>
	
	<select id="selectScheduleList" resultType="com.temlog.schedule.model.Schedule">
		SELECT
			`id`
			, `userId`
			, `startDate`
			, `endDate`
			, `subject`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`schedule`
	</select>
	
	<select id="selectScheduleById" parameterType="int" resultType="com.temlog.schedule.model.Schedule">
		SELECT
			`id`
			, `userId`
			, `startDate`
			, `endDate`
			, `subject`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`schedule`
		WHERE
			`id` = #{scheduleId}
	</select>
</mapper>