@charset "UTF-8";

/* reset */
@import "../css/reset.css";
a {color: #000;}
a:hover {color: #000; text-decoration: none;}
button {border: none; background: transparent; cursor: pointer;}
button:focus {outline: none;}
input:focus, select:focus, textarea:focus {outline: none !important; border: 1px solid #666 !important; box-shadow: none !important;}

/* fonts */
body {font-family: 'SUIT Variable', sans-serif;}

/* material icons */
.material-icons.md-18, .material-icons-outlined.md-18 {font-size: 18px;}
.material-icons.md-24, .material-icons-outlined.md-24 {font-size: 24px;}
.material-icons.md-32, .material-icons-outlined.md-32 {font-size: 32px;}
.material-icons.md-36, .material-icons-outlined.md-36 {font-size: 36px;}
.material-icons.md-48, .material-icons-outlined.md-48 {font-size: 48px;}

/* colors */
.c-red {color: firebrick;}
.c-blue {color: steelblue;}
.c-gray {color: gray;}
.c-main {color: #6C6070;}
.c-main-rgba {color: rgba(108, 96, 112, 0.8);}

/* buttons */
.btn-cancle {font-size: 18px; color: #888;}
.btn-cancle:hover {color: #888;}
.btn-text {font-size: 14px; color: #888;}
.btn-text:hover {color: #888;}
.btn-text.sign-out, .btn-text.withdrawal {font-size: 15px; text-decoration: underline;}
.btn-close-gray {color: #eee;}
.btn-clear {font-size: 18px; color: #ccc;}
.btn-delete-image {font-size: 24px; color: #fff; padding: 5px;}

.btn-create {position: relative; width: 120px; max-height: 80px; border-radius: 12px; text-align: center; background: #efefef;}
.btn-create.post {padding: 15px 0;}
.btn-create.schedule {padding: 18px 0;}
.btn-create:hover {background: #3d3d3d; transition: background 200ms;}
.btn-create:hover .btn-create-text {color: #fff;}
.btn-create:hover .btn-create-icon {color: #fff;}
.btn-create .btn-create-inner {display: grid;}
.btn-create.schedule .btn-create-inner {row-gap: 5px;}
.btn-create .btn-create-icon {color: #555;}
.btn-create.post .btn-create-icon {font-size: 37px;}
.btn-create.schedule .btn-create-icon {font-size: 28px;}
.btn-create .btn-create-text {font-size: 13px; color: #888;}
.btn-add-photo {color: #555;}
.btn-location {color: #555;}

.btn-add {max-width: 38px; background: #555; color: #fff;}
.btn-modify {max-width: 38px; padding: 0 10px; background: #555; color: #fff; font-size: 18px;}

.btn-category {font-size: 14px; color: #888;}
.btn-category > span {color: #999;}
.btn-category:hover span {color: #333;}

.tag {cursor: default; background: #eee; border-radius: 4px; color: #888;
	-webkit-user-select:none;
  	-moz-user-select:none;
  	-ms-user-select:none;
  	user-select:none;}
.tag-modify {max-height: 25px; padding: 3px 5px; font-size: 18px;}
.tag-category {max-height: 22px; padding: 3px 4px; font-size: 15px;}

.rating-icon {color: #333;
	-webkit-user-select:none;
  	-moz-user-select:none;
  	-ms-user-select:none;
  	user-select:none;}
.rating-icon.good {color: steelblue;}
.rating-icon.normal {color: seagreen;}
.rating-icon.bad{color: indianred;}
.rating-icon.selected {background: #e5e5e5; border-radius: 50%;}

.btn-schedule-menu {cursor: default;
	-webkit-user-select:none;
  	-moz-user-select:none;
  	-ms-user-select:none;
  	user-select:none;}

.btn-empty-back {display: block; text-decoration: underline; color: #ccc;}
.btn-empty-back:hover {text-decoration: underline; color: #ccc;}

/* common */
#wrap {min-width: 320px; max-width: 480px; margin: 0 auto;}
#contents {width: 100%; max-width: 480px; padding: 0 20px;}
.contents-inner {width: 100%; min-height: 100vh; position: relative; padding: 69px 0 64px;}
.empty {padding: 120px 0; color: #888;}

#header {z-index: 999; width: 100%; max-width: 480px; position: fixed; top: 0; left: 50%; transform: translateX(-50%);}
#header .head-box {background: #fff; border-bottom: 1px solid #333;}
#header .head-box .util-box .category-name {font-size: 28px; font-weight: 600; cursor: pointer;}

#navigation {z-index: 999; width: 100%; max-width: 480px; position: fixed; bottom: 0; left: 50%; transform: translateX(-50%);}
#navigation .nav {background: #efefef; border-top: 1px solid #ddd;}
#navigation .nav .nav-item:not(:first-child) {border-left: 1px solid #ddd;}
#navigation .nav .nav-item .nav-link .nav-link-inner {display: grid; row-gap: 2px;}
#navigation .nav .nav-item .nav-link .nav-icon {color: #666; font-weight: 200;}
#navigation .nav .nav-item .nav-link .nav-text {font-size: 13px; color: #888;}

#navigation .nav .nav-item:hover, 
#navigation .nav .nav-item.on {background: #3d3d3d; transition: background 150ms;}
#navigation .nav .nav-item:hover .nav-link .nav-icon, 
#navigation .nav .nav-item:hover .nav-link .nav-text, 
#navigation .nav .nav-item.on .nav-link .nav-icon, 
#navigation .nav .nav-item.on .nav-link .nav-text {color: #fff; transition: all 150ms;}


.logo > a {display: block; font-size: 50px;}
.logo > a > img {width: 100%;}
input#datePicker {cursor: default;}

.main-btn-box {position: relative;}
.main-btn-box:before {position: absolute; content: ''; border-left: 1px solid #efefef; height: 80px;}

.subject-box {padding: 15px 0; border-bottom: 1px solid #bbb;}
.subject-box .form-title {font-size: 35px;}
.category-area .subject-box {border-bottom: none;}
.subtitle {font-size: 15px; color: #888;}
.required {color: firebrick;}

.noti {font-size: 13px; color: #888;}
.noti-box .noti-info {cursor: default;}
.noti-box .icon-info {font-size: 14px; color: #999;}
.noti-box .noti.hover-block {display: none; color: #888;}
.noti-box .icon-info:hover + .noti.hover-block {display: block;}

.search-box {position: relative;}
.search-box > input[type="search"] {padding-right: 36px;}
.search-box > .btn-search {position: absolute; top: 50%; right: 0; transform: translateY(-50%); color: #888;}

.image-box {width: 100%;}
.image-box img {width: 100%; max-width: 100%; height: 180px; object-fit: cover;}
.image-box .image {position: relative; width: 100%; max-width: 49%}
.image-box .image .btn-delete-image {position: absolute; top: 0; right: 0;}
.image-box .image.detail {cursor: pointer; max-width: 100%;}
.image-box .image.detail:not(:first-child) {margin-left: 2%;}
.image-box .image.detail > img {height: 250px;}

.map-box {width: 100%; height: 200px; background: #eee;}

.util-box .list-count {font-size: 14px; color: #888;}
.util-box .line {font-size: 22px; color: #ddd;}

.modal-box .content {line-height: 1.4;}
.modal-box .content .date, .modal-box .content .betweenDates {font-size: 14px; color: #888;}

.modal-box .content .subject {font-size: 18px; font-weight: 600; color: #333;}
.modal-box .content .post-content {font-size: 15px; color: #555;
	overflow: hidden; text-overflow: ellipsis; word-break: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인 수 */
	-webkit-box-orient: vertical}
.modal-box .content .schedule-content {font-size: 15px; color: #555;}
.modal-box .image-box img {height: auto;}
.modal-box .image-box img:not(:first-child) {margin-top: 10px;}

#imageModal .modal-content {background-color: transparent; border: none;}

.input-cancle-box {position: relative; width: 100%;}
.input-cancle-box input {padding-right: 35px !important;}
.input-cancle-box .btn-clear {position: absolute; right: 5px; top: 50%; transform: translateY(-50%);}

.dropdown-util-box {border-bottom: 1px solid #ddd;}

.dropdown-menu .dropdown-item {font-size: 15px;}
.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:active {background: #f9f9f9 !important; color: #333 !important;}

.upload-file-name, .location-address {font-size: 13px; color: #333;}

.text-length-box {font-size: 13px; color: #888;}
.text-length-box .text-max.max {color: firebrick;}

/* contents */
/* .user-area h1.logo {margin: 120px 0;} */

.user-area .form-group label {min-width: 100px;}
.user-area .form-group label.label-width-auto {min-width: auto;}
.form-group label {font-weight: 500;}

.post-content-list {width: 100%; padding: 20px 0;}

.post-list .list-card {position: relative; border: 1px solid #eee;}
.post-list .list-card:hover {background: #f9f9f9; transition: all 150ms;}
.post-list .list-card:not(:first-child) {margin-top: 15px;}
.post-list .list-card.good {border-left: 4px solid lightblue;}
.post-list .list-card.normal {border-left: 4px solid darkseagreen;}
.post-list .list-card.bad {border-left: 4px solid rosybrown;}

.post-list .list-card .card-link {display: block;}

.post-list .list-card .card-link .card-inner .category-name {font-size: 13px; color: #888;}
.post-list .list-card .card-link .card-inner .purchase-count {font-size: 13px; color: #888;}
.post-list .list-card .card-link .card-inner .subject {font-size: 18px; font-weight: 600; width: 100%; line-height: 1.5;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.post-list .list-card .card-link .card-inner .content {font-size: 15px; color: #666; width: 100%; 
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.post-area .detail-top {border-bottom: 1px solid #333;}
.post-area .detail-top .purchase-count {font-size: 15px;}
.post-area .detail-content .content-subject .subject {font-size: 25px; font-weight: 500; line-height: 1.3;
	overflow: hidden; text-overflow: ellipsis; word-break: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인 수 */
	-webkit-box-orient: vertical}
.post-area .detail-content .purchase-date {font-size: 14px; color: #888;}
.post-area .detail-content .content {white-space: pre-line; line-height: 1.5; border-top: 1px solid #eee;}
.post-area .detail-content .date-box {font-size: 14px; color: #888;}

.category-area .category-list {display: grid; grid-template-columns: repeat(2, 49%); column-gap: 2%; row-gap: 15px;}
.category-area .category-list .category {background: #eee; border-radius: 4px; text-align: center;}

.category-area .category-list .category .btn-list-category {display: inline-block; width: 100%; padding: 12px 10px;}
.btn-list-category {font-size: 16px; color: #888;}
.category-area .category-list .category:hover {background: #e6e6e6; transition: all 150ms;}
.category-area .category-list .category:hover .btn-list-category {color: #222; transition: all 150ms;}

.category-area .category-list .category.all {background: rgba(108, 96, 112, 0.8);}
.category-area .category-list .category.all .btn-list-category {color: #fff;}
.category-area .category-list .category.all:hover {background: rgba(108, 96, 112, 1); transition: all 150ms;}
.category-area .category-list .category.all:hover .btn-list-category {color: #fff; transition: all 150ms;}

/* calendar */
#calendar {height: calc(100vh - 165px); overflow: hidden;}
#calendar .fc-toolbar-title {font-size: 1.5em;}
#calendar .fc-day-today {background-color: rgba(189, 171, 134, 0.15);}
#calendar .fc-highlight {background-color: rgba(0, 0, 0, .01);}
#calendar .fc-day-sun a {color: firebrick;}
#calendar .fc-day-sat a {color: steelblue;}
#calendar .fc-h-event {background-color: #6C6070; border-color: #6C6070;}
#calendar button {outline: none; box-shadow: none;}
#calendar .fc-button:disabled {opacity: .35; cursor: default;}
#calendar .fc-today-button {background-color: transparent; border: none; color: #333;}
#calendar .fc-prev-button, #calendar .fc-next-button {background-color: transparent; border: none; color: #aaa;}
#calendar .fc-prev-button:hover, #calendar .fc-next-button:hover {color: #333; transition: all 200ms;}
