@charset "UTF-8";

/* reset */
@import "../css/reset.css";
a {color: #000;}
a:hover {color: #000; text-decoration: none;}
button {border: none; background: transparent; cursor: pointer;}
button:focus {outline: none;}

/* fonts */
body {font-family: 'SUIT Variable', sans-serif;}

/* material icons */
.material-icons.md-18, .material-icons-outlined.md-18 {font-size: 18px;}
.material-icons.md-24, .material-icons-outlined.md-24 {font-size: 24px;}
.material-icons.md-36, .material-icons-outlined.md-36 {font-size: 36px;}
.material-icons.md-48, .material-icons-outlined.md-48 {font-size: 48px;}

/* colors */
.c-red {color: firebrick;}
.c-blue {color: steelblue;}
.c-gray {color: gray;}

/* buttons */
.btn-cancle {font-size: 18px; color: #666;}
.btn-cancle:hover {color: #666;}
.btn-text {font-size: 14px; color: #666;}
.btn-text:hover {color: #666;}
.btn-text.sign-out, .btn-text.withdrawal {font-size: 15px; text-decoration: underline;}

.btn-create {position: relative; width: 120px; height: 90px; border-radius: 5px; text-align: center; background: #eee;}
.btn-create:hover {background: #ddd; transition: background 300ms;}
.btn-create .btn-create-text {padding-top: 55px; font-size: 14px; color: #666;}
.btn-create > span {position: absolute; top: 20px; left: 50%; transform: translateX(-50%); color: #aaa;}
.btn-create.post > span {font-size: 36px;}
.btn-create.schedule > span {font-size: 36px;}
.btn-create.schedule > span {font-size: 28px;}

.search-box {position: relative;}
.search-box > input[type="search"] {padding-right: 36px;}
.search-box > .btn-search {position: absolute; top: 50%; right: 0; transform: translateY(-50%); color: #666;}

/* common */
#wrap {max-width: 480px; margin: 0 auto;}
#contents {padding: 20px;}

.logo > a {font-size: 50px;}
.subject-box {padding-bottom: 12px; border-bottom: 1px solid #bbb;}
.required {color: firebrick;}

.noti-box .noti {font-size: 13px;}
.noti-box .noti-info {cursor: default;}
.noti-box .icon-info {font-size: 14px; color: #999;}
.noti-box .noti.hover-block {display: none; color: #666;}
.noti-box .icon-info:hover + .noti.hover-block {display: block;}

/* contents */
.user-area h1.logo {margin: 120px 0;}
.user-area .form-title {font-size: 35px;}
.user-area .form-group label {min-width: 100px;}
.user-area .form-group label.label-width-auto {min-width: auto;}
.user-area .btn-box {padding: 60px 0;}
